<footer class="footer section">
  <div class="container">
    <div class="footer__main">
      <h3 class="footer__title section__title">{% if footerTitle %} {{footerTitle}} {% else %} {{ mixins.text(pieceOfTexts, 'contacts__socials') }} {% endif %}</h3>
      <div class="footer__socials graphcms-container"
        {{ mixins.cmsData(conference) }}
      >
        <ul class="social social--theme">
          <li class="social__item"><a href="{{ conference.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>
          <li class="social__item"><a href="{{ conference.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>
          <li class="social__item"><a href="{{ conference.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yb')}}</a></li>
          <li class="social__item"><a href="{{ conference.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('md')}}</a></li>
        </ul>
      </div>
      <div class="footer__nav graphcms-container"
        {{ mixins.cmsData(pages[pageKey]) }}
      >
        <ul class="f-nav">
          {% for item in pages[pageKey].pageNavigation.footerNav %}
            <li class="f-nav__item"><a href="{{item.href}}" class="f-nav__link">{{item.text}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__basement" style="background-image: url(img/f-bg.png)">
    <div class="footer__logo">
      <div class="f-logo">
        <span class="f-logo__label">Event by</span>
        <span class="f-logo__icon">
          <img src="img/Smile.svg" alt="Frontend nation">
        </span>
        <a href="https://gitnation.org" class="f-logo__author">GitNation</a>
      </div>
    </div>
  </div>
  <div style="display: none;">
    <script type="text/javascript">
      document.write('<a href="//www.liveinternet.ru/click" '+
        'target="_blank"><img src="//counter.yadro.ru/hit?t38.6;r'+
        escape(document.referrer)+((typeof(screen)=='undefined')?'':
          ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
          screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
        ';h'+escape(document.title.substring(0,150))+';'+Math.random()+
        '" alt="" title="LiveInternet" '+
        'border="0" width="31" height="31"><\/a>');
    </script>
  </div>
  <!-- Twitter universal website tag code -->
  <script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','nyyow');
    twq('track','PageView');
  </script>
  <!-- End Twitter universal website tag code -->
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1374905195888955');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=1374905195888955&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Global site tag (gtag.js) - Google Ads: 805657772 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-805657772"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-805657772');
  </script>
  <!-- Event snippet for JSN Live website visit conversion page -->
  <script>
    gtag('event', 'conversion', {'send_to': 'AW-805657772/KcigCLeVk84BEKy5lYAD'});
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164513444-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164513444-1');
  </script>

</footer>
