<div class="hero hero_live">
	<div class="hero__bg"></div>

	<div class="container">
		<div class="hero__inner">
			<div class="hero__date">June 18-19, 2020</div>

			<div class="hero__logo">
				<a href="/" class="logo"><img src="img/logo-jsnl.svg" alt="JSNation Live"></a>
			</div>
			
			<div class="hero__partner">
				In collaboration with
				<div class="hero__partners">
					<a href="https://mux.com/" class="hero__partner-img" target="_blank">
						<img src="https://media.graphcms.com/1mzHE2TNS5uoBxP4eTdP" alt="MUX" />
					</a>
					<a href="https://docs.amplify.aws/" class="hero__partner-img" target="_blank">
						<img src="https://media.graphcms.com/E3oDvNI0TqCzhnDlFQLA" alt="AWS" />
					</a>
				</div>
			</div>
		</div>		
	</div>
</div>